.vscode/*
obj64/*
*.pyc
__pycache__/*
*.dir
*.pub
*.pri
*.dat
.DS_Store
*/remus/*
*/json-3.11.3/*
*/Rabia_build/*
start.ps1
src/rdma/cmake.ps1
src/.bash_history

.vscode
build/
iht/scripts/dev
.ssh/
*.screenrc
*.log
